.topHeader {
    background: #0984E3;
    display: grid;
    padding-left: 25px;
    padding-right: 25px;
    grid-template-columns: auto auto;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.topHeader .left {
    display: flex;
    column-gap: 10px;
}

.topHeader .right p {
    text-align: right;
}

.header .BottomHeader {
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header .BottomHeader .Logo img {height: 33px;}

.header .BottomHeader .Menu {
    display: flex;
    column-gap: 13px;
    align-items: center;
    justify-content: flex-end;
}