<meta charset="UTF-8">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>University</th>
      <th>Course Name</th>
      <th>City</th>
      <th>Budget</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>University College Dublin</td>
      <td>Computer Science  (DN201)</td>
      <td>Dublin</td>
      <td>3500</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Trinity College Dublin</td>
      <td>Mechanical and Manufacturing Engineering (TR032)</td>
      <td>Dublin</td>
      <td>2500</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Trinity College Dublin</td>
      <td>Business, Economics and Social Studies (TR081)</td>
      <td>Dublin</td>
      <td>2800</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Technological University Dublin (City)</td>
      <td>Bachelor of Science (Honours) in Biomedical &amp; Molecular Diagnostics</td>
      <td>Dublin</td>
      <td>2900</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Dublin Business School</td>
      <td>BA (Hons) Business(DB512, DB514, DB569, DB515, DB520)</td>
      <td>Dublin</td>
      <td>2900</td>
    </tr>
  </tbody>
</table>