<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interest Profiler</title>


    <!-- BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <!-- css -->
    <link rel="stylesheet" href="static/css/styles.css">


</head>

<body>

    <!-- As a heading -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <!-- <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Skillcate Project: Flight Price Prediction</a>
            </div>
        </div> -->
    </nav>

    <br><br><br>


    <div class="container">



        <form action="\predict" method="post">

            
<!-- location -->
<div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">location</h5>
                            <!-- location -->
                            <select name="location" id="location" required="required">
                                <option value="Dublin">Dublin</option>
                                <option value="Limerick">Limerick</option>
                                <option value="Cork">Cork</option>
                                <option value="Athlone">Athlone</option>
                    
                                <option value="Dundalk">Dundalk</option>
                                <option value="Letterkenny">Letterkenny</option>
                                <option value="Carlow">Carlow</option>
                                <option value="Galway">Galway</option>
                                <option value="Mayo">Mayo</option>
                               
                               
                          
                            </select>
                        </div>
                    </div>
                </div>
            </div>

<!-- interest -->
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">interest</h5>
                <!-- interest -->
                <select name="interest" id="interest" required="required">
                    <option value="Applications Developer">Applications Developer</option>
                    <option value="Business Analyst">Business Analyst</option>
                    <option value="Banker">Banker</option>
                    <option value="Human Resources">Human Resources</option>
                    <option value="Pilot">Pilot</option>
                    <option value="Accountant">Accountant</option>
                    <option value="Network Security Engineer">Network Security Engineer</option>
                    <option value="Technical Support">Technical Support</option>
                    <option value="Teacher">Teacher</option>
                    <option value="Software Developer">Software Developer</option>
                    <option value="Software Engineer">Software Engineer</option>
                    <option value="Software Quality Assurance (QA) / Testing">Software Quality Assurance (QA) / Testing</option>
                    <option value="Systems Security Administrator">Systems Security Administrator</option>
                    <option value="UX Designer">UX Designer</option>
                    <option value="Web Developer">Web Developer</option>
                    <option value="CRM Technical Developer">CRM Technical Developer</option>
                    <option value="Database Developer">Database Developer</option>
                    <option value="Mobile Applications Developer">Mobile Applications Developer</option>
                   
                   
                   
                    
                </select>
            </div>
        </div>
    </div>
</div>         
        
<!-- workshops -->
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">job_domain</h5>
                <!-- Destination -->
                <select name="job_domain" id="job_domain" required="required">
                    <option value="IT">IT</option>
                    <option value="Non_IT">Non_IT</option>
                   
              
                </select>
            </div>
        </div>
    </div>
</div>    

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">personality</h5>
                <!-- Destination -->
                <select name="personality" id="personality" required="required">
                    <option value="serious">serious</option>
                    <option value="extraverted">extraverted</option>
                    <option value="responsible">responsible</option>
                    <option value="dependable">dependable</option>
                    <option value="lively">lively</option>
                   
                   
              
                </select>
            </div>
        </div>
    </div>
</div>   

<div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">CAO Score</h5>
            <label for="tentacles">CAO Score:</label>

<input type="number" id="CAO" name="CAO"
       min="10" max="650">
          
            </select>
        </div>
    </div>
</div>
</div>      
            <br>
            <br>
            <br>
            <!-- Submit -->
            <input type="submit" value="The course for you is" class="btn btn-secondary">
        </form>

        <br>
        <br>
        <h3>{{ prediction_text }}</h3>

        <br>
        <br>
        

    </div>




    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>