.footer {
    background: #25517A;
    padding: 25px;
    color: white;
    padding-bottom:1px;
}

.footer .topft {
    display: grid;
    grid-template-columns: auto auto;
}

.footer .topft .left h2 {
    font-size: 17px;
    margin-bottom: 10px;
}

.footer .topft .left p {
    font-size: 12px;
    margin-bottom: 25px;
}

.footer .right .imp-link {
    display: flex;
    column-gap: 15px;
}

.footer .bottom-ft {
    text-align: center;
    border-top: 1px solid #9e9e9e4d;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    padding-top: 10px;
}