.psychometric-test-container {
  min-height: 100vh;
}
.psychometric-test-psychometric-test {
  width: 100%;
  height: 2350px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.psychometric-test-about-us {
  top: 408px;
  left: 0px;
  width: 1925px;
  height: 1216px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-b-g {
  top: 195px;
  left: 5px;
  width: 1920px;
  height: 1021px;
  position: absolute;
  border-color: transparent;
}
.psychometric-test-shape {
  top: 696px;
  left: 455px;
  width: 1110px;
  height: 1px;
  position: absolute;
  border-color: transparent;
}
.psychometric-test-vector {
  top: 38px;
  left: 32px;
  width: 40px;
  height: 28px;
  position: absolute;
}
.psychometric-test-footer {
  top: 622px;
  left: 0px;
  width: 1920px;
  height: 553px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(37, 81, 122, 1);
}
.psychometric-test-text {
  top: 502px;
  left: 811px;
  color: var(--dl-color-paragraph-para03);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.psychometric-test-rectangle80 {
  top: 471px;
  left: 410px;
  width: 1110px;
  height: 1px;
  position: absolute;
  border-color: transparent;
}
.psychometric-test-important-links {
  top: 109px;
  left: 1520px;
  width: 333px;
  height: 262px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-text02 {
  top: 62px;
  color: var(--dl-color-paragraph-para03);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: FontAwesome;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.psychometric-test-text03 {
  font-weight: 400;
}
.psychometric-test-text04 {
  font-weight: 700;
}
.psychometric-test-text08 {
  font-weight: 400;
}
.psychometric-test-text09 {
  font-weight: 700;
}
.psychometric-test-text13 {
  font-weight: 400;
}
.psychometric-test-text14 {
  font-weight: 700;
}
.psychometric-test-text18 {
  font-weight: 400;
}
.psychometric-test-text19 {
  font-weight: 700;
}
.psychometric-test-text23 {
  font-weight: 400;
}
.psychometric-test-text25 {
  top: 62px;
  left: 190px;
  color: var(--dl-color-paragraph-para03);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: FontAwesome;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.psychometric-test-text26 {
  font-weight: 400;
}
.psychometric-test-text27 {
  font-weight: 700;
}
.psychometric-test-text31 {
  font-weight: 400;
}
.psychometric-test-text32 {
  font-weight: 700;
}
.psychometric-test-text36 {
  font-weight: 400;
}
.psychometric-test-text37 {
  font-weight: 700;
}
.psychometric-test-text41 {
  font-weight: 400;
}
.psychometric-test-text42 {
  font-weight: 700;
}
.psychometric-test-text46 {
  font-weight: 400;
}
.psychometric-test-text48 {
  color: var(--dl-color-default-white);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.psychometric-test-logo {
  top: 109px;
  left: 135px;
  width: 350px;
  height: 254px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-time {
  top: 186px;
  left: 0px;
  width: 295px;
  height: 68px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-text50 {
  top: 38px;
  color: var(--dl-color-paragraph-para03);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.psychometric-test-text52 {
  color: var(--dl-color-paragraph-para03);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.psychometric-test-about-us1 {
  top: 0px;
  left: 0px;
  width: 350px;
  height: 162px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-text54 {
  top: 72px;
  color: var(--dl-color-paragraph-para03);
  width: 350px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.psychometric-test-logo1 {
  top: 0px;
  left: 30px;
  width: 225px;
  height: 40px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-text56 {
  color: var(--dl-color-default-white);
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.psychometric-test-image3 {
  top: 0px;
  left: 5px;
  width: 1901px;
  height: 609px;
  position: absolute;
  border-color: transparent;
}
.psychometric-test-nav {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 152px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-logo-menu {
  top: 62px;
  left: 0px;
  width: 1920px;
  height: 90px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.psychometric-test-menu {
  top: 24px;
  left: 1382px;
  width: 506px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-off-canvas {
  top: 0px;
  left: 464px;
  width: 42px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(9, 132, 227, 1);
}
.psychometric-test-menu1 {
  top: 9px;
  left: 9px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.psychometric-test-text58 {
  top: 6px;
  left: 343px;
  color: var(--dl-color-paragraph-para01);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.psychometric-test-text60 {
  top: 6px;
  left: 180px;
  color: var(--dl-color-paragraph-para01);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.psychometric-test-text62 {
  top: 6px;
  left: 81px;
  color: var(--dl-color-paragraph-para01);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.psychometric-test-text64 {
  top: 6px;
  color: var(--dl-color-primary-color01);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.psychometric-test-info-login {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 76px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-b-g1 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 62px;
  position: absolute;
  border-color: transparent;
}
.psychometric-test-loginsignup {
  top: 16px;
  left: 1382px;
  width: 133px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-user41 {
  top: 6px;
  left: 0px;
  width: 18px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.psychometric-test-group {
  top: 0px;
  left: 4.7880778312683105px;
  width: 8.42364501953125px;
  height: 8.42364501953125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-group1 {
  top: 0px;
  left: 0px;
  width: 8.42364501953125px;
  height: 8.42364501953125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-vector1 {
  top: 0px;
  left: 0px;
  width: 8px;
  height: 8px;
  position: absolute;
}
.psychometric-test-group2 {
  top: 8.911238670349121px;
  left: 1.3744466304779053px;
  width: 15.251232147216797px;
  height: 9.088671684265137px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-group3 {
  top: 0px;
  left: 0px;
  width: 15.251232147216797px;
  height: 9.088671684265137px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-vector2 {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 9px;
  position: absolute;
}
.psychometric-test-text66 {
  left: 26px;
  color: var(--dl-color-default-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.psychometric-test-email {
  top: 16px;
  left: 601px;
  width: 142px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-text68 {
  left: 30px;
  color: var(--dl-color-default-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.psychometric-test-call1 {
  top: 3px;
  left: 0px;
  width: 22px;
  height: 22px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.psychometric-test-group4 {
  top: 0px;
  left: 0px;
  width: 22.000057220458984px;
  height: 22px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-group5 {
  top: 0px;
  left: 0px;
  width: 22.000057220458984px;
  height: 22px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-vector3 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.psychometric-test-call {
  top: 16px;
  left: 329px;
  width: 262px;
  height: 60px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-text70 {
  left: 29px;
  color: var(--dl-color-default-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.psychometric-test-paperplane11 {
  top: 3px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.psychometric-test-image1 {
  top: 86px;
  left: 329px;
  width: 256px;
  height: 42px;
  position: absolute;
  border-color: transparent;
}
.psychometric-test-image2 {
  top: 152px;
  left: 5px;
  width: 1915px;
  height: 256px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
