.psychometric-test-output-container {
  min-height: 100vh;
}
.psychometric-test-output-psychometric-test-output {
  width: 100%;
  height: 3385px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.psychometric-test-output-about-us {
  top: 1367px;
  left: 0px;
  width: 1920px;
  height: 1904px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-shape {
  top: 658px;
  left: 450px;
  width: 1110px;
  height: 1px;
  position: absolute;
  border-color: transparent;
}
.psychometric-test-output-vector {
  top: 0px;
  left: 27px;
  width: 40px;
  height: 28px;
  position: absolute;
}
.psychometric-test-output-footer {
  top: 1351px;
  left: 0px;
  width: 1920px;
  height: 553px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(37, 81, 122, 1);
}
.psychometric-test-output-text {
  top: 501px;
  left: 806px;
  color: var(--dl-color-paragraph-para03);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.psychometric-test-output-rectangle80 {
  top: 470px;
  left: 405px;
  width: 1110px;
  height: 1px;
  position: absolute;
  border-color: transparent;
}
.psychometric-test-output-important-links {
  top: 108px;
  left: 1515px;
  width: 333px;
  height: 262px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-text002 {
  top: 62px;
  color: var(--dl-color-paragraph-para03);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: FontAwesome;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.psychometric-test-output-text003 {
  font-weight: 400;
}
.psychometric-test-output-text004 {
  font-weight: 700;
}
.psychometric-test-output-text008 {
  font-weight: 400;
}
.psychometric-test-output-text009 {
  font-weight: 700;
}
.psychometric-test-output-text013 {
  font-weight: 400;
}
.psychometric-test-output-text014 {
  font-weight: 700;
}
.psychometric-test-output-text018 {
  font-weight: 400;
}
.psychometric-test-output-text019 {
  font-weight: 700;
}
.psychometric-test-output-text023 {
  font-weight: 400;
}
.psychometric-test-output-text025 {
  top: 62px;
  left: 190px;
  color: var(--dl-color-paragraph-para03);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: FontAwesome;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.psychometric-test-output-text026 {
  font-weight: 400;
}
.psychometric-test-output-text027 {
  font-weight: 700;
}
.psychometric-test-output-text031 {
  font-weight: 400;
}
.psychometric-test-output-text032 {
  font-weight: 700;
}
.psychometric-test-output-text036 {
  font-weight: 400;
}
.psychometric-test-output-text037 {
  font-weight: 700;
}
.psychometric-test-output-text041 {
  font-weight: 400;
}
.psychometric-test-output-text042 {
  font-weight: 700;
}
.psychometric-test-output-text046 {
  font-weight: 400;
}
.psychometric-test-output-text048 {
  color: var(--dl-color-default-white);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.psychometric-test-output-logo {
  top: 108px;
  left: 129px;
  width: 351px;
  height: 254px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-time {
  top: 186px;
  left: 1px;
  width: 295px;
  height: 68px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-text050 {
  top: 38px;
  color: var(--dl-color-paragraph-para03);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.psychometric-test-output-text052 {
  color: var(--dl-color-paragraph-para03);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.psychometric-test-output-about-us1 {
  top: 0px;
  left: 0px;
  width: 351px;
  height: 162px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-text054 {
  top: 72px;
  left: 1px;
  color: var(--dl-color-paragraph-para03);
  width: 350px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.psychometric-test-output-logo1 {
  top: 0px;
  left: 0px;
  width: 225px;
  height: 40px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-text056 {
  color: var(--dl-color-default-white);
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.psychometric-test-output-nav {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 152px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-logo-menu {
  top: 62px;
  left: 0px;
  width: 1920px;
  height: 90px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.psychometric-test-output-menu {
  top: 24px;
  left: 1383px;
  width: 506px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-off-canvas {
  top: 0px;
  left: 464px;
  width: 42px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(9, 132, 227, 1);
}
.psychometric-test-output-menu1 {
  top: 9px;
  left: 9px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.psychometric-test-output-text058 {
  top: 6px;
  left: 343px;
  color: var(--dl-color-paragraph-para01);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.psychometric-test-output-text060 {
  top: 6px;
  left: 180px;
  color: var(--dl-color-paragraph-para01);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.psychometric-test-output-text062 {
  top: 6px;
  left: 81px;
  color: var(--dl-color-paragraph-para01);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.psychometric-test-output-text064 {
  top: 6px;
  color: var(--dl-color-primary-color01);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.psychometric-test-output-info-login {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 76px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-b-g {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 62px;
  position: absolute;
  border-color: transparent;
}
.psychometric-test-output-loginsignup {
  top: 16px;
  left: 1382px;
  width: 133px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-user41 {
  top: 6px;
  left: 0px;
  width: 18px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.psychometric-test-output-group {
  top: 0px;
  left: 4.7880778312683105px;
  width: 8.42364501953125px;
  height: 8.42364501953125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-group01 {
  top: 0px;
  left: 0px;
  width: 8.42364501953125px;
  height: 8.42364501953125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-vector1 {
  top: 0px;
  left: 0px;
  width: 8px;
  height: 8px;
  position: absolute;
}
.psychometric-test-output-group02 {
  top: 8.911238670349121px;
  left: 1.3744466304779053px;
  width: 15.251232147216797px;
  height: 9.088671684265137px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-group03 {
  top: 0px;
  left: 0px;
  width: 15.251232147216797px;
  height: 9.088671684265137px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-vector2 {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 9px;
  position: absolute;
}
.psychometric-test-output-text066 {
  left: 26px;
  color: var(--dl-color-default-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.psychometric-test-output-email {
  top: 16px;
  left: 601px;
  width: 142px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-text068 {
  left: 30px;
  color: var(--dl-color-default-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.psychometric-test-output-call1 {
  top: 3px;
  left: 0px;
  width: 22px;
  height: 22px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.psychometric-test-output-group04 {
  top: 0px;
  left: 0px;
  width: 22.000057220458984px;
  height: 22px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-group05 {
  top: 0px;
  left: 0px;
  width: 22.000057220458984px;
  height: 22px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-vector3 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.psychometric-test-output-call {
  top: 16px;
  left: 329px;
  width: 262px;
  height: 60px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-text070 {
  left: 29px;
  color: var(--dl-color-default-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.psychometric-test-output-paperplane11 {
  top: 3px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.psychometric-test-output-image1 {
  top: 86px;
  left: 329px;
  width: 256px;
  height: 42px;
  position: absolute;
  border-color: transparent;
}
.psychometric-test-output-image2 {
  top: 152px;
  left: 0px;
  width: 1920px;
  height: 174px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.psychometric-test-output-text075 {
  top: 350px;
  left: 5px;
  color: var(--dl-color-heading-head01);
  width: 540px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 54px;
  margin-right: 0;
  margin-bottom: 0;
}
.psychometric-test-output-text080 {
  top: 1099px;
  left: 5px;
  color: var(--dl-color-heading-head01);
  width: 540px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 54px;
  margin-right: 0;
  margin-bottom: 0;
}
.psychometric-test-output-text085 {
  top: 1419px;
  left: 8px;
  color: var(--dl-color-heading-head01);
  width: 540px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 54px;
  margin-right: 0;
  margin-bottom: 0;
}
.psychometric-test-output-text087 {
  top: 1978px;
  left: 8px;
  color: var(--dl-color-heading-head01);
  width: 540px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 54px;
  margin-right: 0;
  margin-bottom: 0;
}
.psychometric-test-output-text089 {
  top: 2384px;
  left: 8px;
  color: var(--dl-color-heading-head01);
  width: 540px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 54px;
  margin-right: 0;
  margin-bottom: 0;
}
.psychometric-test-output-text091 {
  top: 476px;
  left: 5px;
  color: var(--dl-color-heading-head01);
  width: 540px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 54px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.psychometric-test-output-text096 {
  top: 1171px;
  left: 5px;
  color: var(--dl-color-heading-head01);
  width: 1848px;
  height: auto;
  opacity: 0.75;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 54px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.psychometric-test-output-text098 {
  top: 1491px;
  left: 8px;
  color: var(--dl-color-heading-head01);
  width: 1848px;
  height: auto;
  opacity: 0.75;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 54px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.psychometric-test-output-text115 {
  top: 2026px;
  color: var(--dl-color-heading-head01);
  width: 1848px;
  height: auto;
  opacity: 0.75;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 54px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.psychometric-test-output-text128 {
  top: 476px;
  left: 1316px;
  color: var(--dl-color-heading-head01);
  width: 585px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 54px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.psychometric-test-output-text130 {
  top: 408px;
  left: 5px;
  color: var(--dl-color-heading-head01);
  width: 540px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 80px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.psychometric-test-output-text132 {
  top: 350px;
  left: 1773px;
  color: var(--dl-color-heading-head01);
  width: 107px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 80px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.psychometric-test-output-text137 {
  top: 390px;
  left: 1773px;
  color: var(--dl-color-heading-head01);
  width: 107px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 80px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.psychometric-test-output-feature {
  top: 619px;
  left: 97px;
  width: 1696.1029052734375px;
  height: 216px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-faster-services {
  top: 0px;
  left: 1205.0828857421875px;
  width: 491.0199890136719px;
  height: 216px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-text139 {
  top: 23px;
  left: 86.83567810058594px;
  color: var(--dl-color-heading-head02);
  width: 233px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 32px;
}
.psychometric-test-output-rectangle30 {
  top: 0px;
  left: 0px;
  width: 70px;
  height: 78px;
  position: absolute;
  border-color: transparent;
}
.psychometric-test-output-customer11 {
  top: 15.65216064453125px;
  left: 14.02906322479248px;
  width: 42.087425231933594px;
  height: 46.956520080566406px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.psychometric-test-output-group06 {
  top: 0px;
  left: 17.264772415161133px;
  width: 9.946419715881348px;
  height: 11.18883991241455px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-group07 {
  top: 0px;
  left: 0px;
  width: 9.946419715881348px;
  height: 11.18883991241455px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-vector4 {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 11px;
  position: absolute;
}
.psychometric-test-output-group08 {
  top: 11.188815116882324px;
  left: 14.798717498779297px;
  width: 14.87852954864502px;
  height: 8.25406265258789px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-group09 {
  top: 0px;
  left: 0px;
  width: 14.87852954864502px;
  height: 8.25406265258789px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-vector5 {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 8px;
  position: absolute;
}
.psychometric-test-output-group10 {
  top: 26.645158767700195px;
  left: 0.00197934964671731px;
  width: 12.17255687713623px;
  height: 20.3114013671875px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-group11 {
  top: 0px;
  left: 0px;
  width: 12.17255687713623px;
  height: 20.3114013671875px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-vector6 {
  top: 0px;
  left: 0px;
  width: 12px;
  height: 20px;
  position: absolute;
}
.psychometric-test-output-group12 {
  top: 21.68790626525879px;
  left: 7.317275524139404px;
  width: 34.7681770324707px;
  height: 19.7658634185791px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-group13 {
  top: 0px;
  left: 0px;
  width: 34.7681770324707px;
  height: 19.7658634185791px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-vector7 {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 20px;
  position: absolute;
}
.psychometric-test-output-text144 {
  top: 75.13037109375px;
  left: 86.98078918457031px;
  color: var(--dl-color-paragraph-para01);
  width: 404px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.psychometric-test-output-perfect-location {
  top: 0px;
  left: 558.2529296875px;
  width: 491.0199890136719px;
  height: 216px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-text146 {
  top: 17px;
  left: 86.69636535644531px;
  color: var(--dl-color-heading-head02);
  width: 250px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 32px;
}
.psychometric-test-output-rectangle301 {
  top: 0px;
  left: 0px;
  width: 70px;
  height: 78px;
  position: absolute;
  border-color: transparent;
}
.psychometric-test-output-mapsandflags1 {
  top: 15.65216064453125px;
  left: 14.028862953186035px;
  width: 42.087425231933594px;
  height: 46.956520080566406px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.psychometric-test-output-text148 {
  top: 75.13037109375px;
  left: 86.9805908203125px;
  color: var(--dl-color-paragraph-para01);
  width: 404px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.psychometric-test-output-buy-sell-properties {
  top: 17px;
  left: 0px;
  width: 491.0199890136719px;
  height: 199px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-text150 {
  color: var(--dl-color-heading-head02);
  width: 491px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 32px;
}
.psychometric-test-output-text155 {
  top: 58px;
  color: var(--dl-color-paragraph-para01);
  width: 439px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.psychometric-test-output-image4 {
  top: 627px;
  left: 666px;
  width: 59px;
  height: 88px;
  position: absolute;
  border-color: transparent;
}
.psychometric-test-output-image5 {
  top: 632px;
  left: 32px;
  width: 51px;
  height: 53px;
  position: absolute;
  border-color: transparent;
}
.psychometric-test-output-feature1 {
  top: 859px;
  left: 97px;
  width: 1696.1029052734375px;
  height: 216px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-faster-services1 {
  top: 23px;
  left: 1291.9185791015625px;
  width: 404.1844177246094px;
  height: 192.99993896484375px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-text157 {
  color: var(--dl-color-heading-head02);
  width: 233px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 32px;
}
.psychometric-test-output-text159 {
  top: 52.13037109375px;
  left: 0.145111083984375px;
  color: var(--dl-color-paragraph-para01);
  width: 404px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.psychometric-test-output-perfect-location1 {
  top: 0px;
  left: 558.2529296875px;
  width: 491.0199890136719px;
  height: 216px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-text161 {
  top: 17px;
  left: 86.69636535644531px;
  color: var(--dl-color-heading-head02);
  width: 250px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 32px;
}
.psychometric-test-output-rectangle302 {
  top: 0px;
  left: 0px;
  width: 70px;
  height: 78px;
  position: absolute;
  border-color: transparent;
}
.psychometric-test-output-mapsandflags11 {
  top: 15.65216064453125px;
  left: 14.028862953186035px;
  width: 42.087425231933594px;
  height: 46.956520080566406px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.psychometric-test-output-text163 {
  top: 75.13037109375px;
  left: 86.9805908203125px;
  color: var(--dl-color-paragraph-para01);
  width: 404px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.psychometric-test-output-buy-sell-properties1 {
  top: 17px;
  left: 0px;
  width: 491.0199890136719px;
  height: 199px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.psychometric-test-output-text165 {
  color: var(--dl-color-heading-head02);
  width: 491px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 32px;
}
.psychometric-test-output-text167 {
  top: 58px;
  color: var(--dl-color-paragraph-para01);
  width: 439px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.psychometric-test-output-image6 {
  top: 876px;
  left: 28px;
  width: 60px;
  height: 57px;
  position: absolute;
  border-color: transparent;
}
.psychometric-test-output-image7 {
  top: 875px;
  left: 655px;
  width: 73px;
  height: 56px;
  position: absolute;
  border-color: transparent;
}
.psychometric-test-output-image8 {
  top: 882px;
  left: 1305px;
  width: 71px;
  height: 57px;
  position: absolute;
  border-color: transparent;
}
.psychometric-test-output-button {
  top: 2455px;
  left: 25px;
  width: 368px;
  display: flex;
  padding: 16px 32px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 2px;
  background-color: var(--dl-color-primary-color04);
}
.psychometric-test-output-text169 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.psychometric-test-output-button1 {
  top: 2578px;
  left: 869px;
  width: 400px;
  display: flex;
  padding: 16px 32px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 2px;
  background-color: var(--dl-color-primary-color04);
}
.psychometric-test-output-text171 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.psychometric-test-output-button2 {
  top: 2584px;
  left: 450px;
  width: 362px;
  display: flex;
  padding: 16px 32px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 2px;
  background-color: var(--dl-color-primary-color04);
}
.psychometric-test-output-text173 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.psychometric-test-output-button3 {
  top: 2578px;
  left: 25px;
  width: 368px;
  display: flex;
  padding: 16px 32px 16px 13px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 2px;
  background-color: var(--dl-color-primary-color04);
}
.psychometric-test-output-text175 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.psychometric-test-output-button4 {
  top: 2455px;
  left: 869px;
  width: 400px;
  display: flex;
  padding: 16px 32px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 2px;
  background-color: var(--dl-color-primary-color04);
}
.psychometric-test-output-text177 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.psychometric-test-output-button5 {
  top: 2454px;
  left: 441px;
  width: 362px;
  height: 63px;
  display: flex;
  padding: 16px 32px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 2px;
  background-color: var(--dl-color-primary-color04);
}
.psychometric-test-output-text179 {
  color: var(--dl-color-default-white);
  width: 352px;
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
