.course-finder-container {
  min-height: 100vh;
}
.course-finder-course-finder {
  width: 100%;
  height: 2350px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.course-finder-about-us {
  top: 886px;
  left: -5px;
  width: 1925px;
  height: 1179px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-finder-b-g {
  top: 158px;
  left: 5px;
  width: 1920px;
  height: 1021px;
  position: absolute;
  border-color: transparent;
}
.course-finder-shape {
  top: 659px;
  left: 455px;
  width: 1110px;
  height: 1px;
  position: absolute;
  border-color: transparent;
}
.course-finder-funfact {
  top: 0px;
  left: 903px;
  width: 32px;
  height: 32px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-finder-frame332 {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-finder-text {
  color: var(--dl-color-heading-head02);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 32px;
}
.course-finder-text02 {
  top: 271px;
  left: 1001px;
  color: var(--dl-color-paragraph-para01);
  width: 540px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.course-finder-text04 {
  top: 227px;
  left: 1001px;
  color: var(--dl-color-primary-color01);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 32px;
}
.course-finder-text06 {
  top: 53px;
  left: 737px;
  color: var(--dl-color-heading-head01);
  width: 455px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 54px;
}
.course-finder-vector {
  top: 1px;
  left: 32px;
  width: 40px;
  height: 28px;
  position: absolute;
}
.course-finder-vector1 {
  top: 66px;
  left: 1188px;
  width: 40px;
  height: 28px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.course-finder-footer {
  top: 585px;
  left: 0px;
  width: 1920px;
  height: 553px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(37, 81, 122, 1);
}
.course-finder-text08 {
  top: 502px;
  left: 811px;
  color: var(--dl-color-paragraph-para03);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.course-finder-rectangle80 {
  top: 471px;
  left: 410px;
  width: 1110px;
  height: 1px;
  position: absolute;
  border-color: transparent;
}
.course-finder-important-links {
  top: 109px;
  left: 1520px;
  width: 333px;
  height: 262px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-finder-text10 {
  top: 62px;
  color: var(--dl-color-paragraph-para03);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: FontAwesome;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.course-finder-text21 {
  top: 62px;
  left: 190px;
  color: var(--dl-color-paragraph-para03);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: FontAwesome;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.course-finder-text32 {
  color: var(--dl-color-default-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 32px;
}
.course-finder-logo {
  top: 109px;
  left: 135px;
  width: 350px;
  height: 254px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-finder-time {
  top: 186px;
  left: 0px;
  width: 287px;
  height: 68px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-finder-text34 {
  top: 38px;
  color: var(--dl-color-paragraph-para03);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.course-finder-text36 {
  color: var(--dl-color-paragraph-para03);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.course-finder-about-us1 {
  top: 0px;
  left: 0px;
  width: 350px;
  height: 162px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-finder-text38 {
  top: 72px;
  color: var(--dl-color-paragraph-para03);
  width: 350px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.course-finder-logo1 {
  top: 0px;
  left: 30px;
  width: 223px;
  height: 40px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-finder-text40 {
  color: var(--dl-color-default-white);
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.course-finder-hero {
  top: 16px;
  left: 0px;
  width: 1920px;
  height: 850px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(68, 68, 68, 1);
}
.course-finder-mask-group {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 850px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(85, 85, 85, 1);
}
.course-finder-architecture186718719201 {
  top: -126px;
  left: -14px;
  width: 1945px;
  height: 1326px;
  position: absolute;
  border-color: transparent;
}
.course-finder-search {
  top: 350px;
  left: 559px;
  width: 802px;
  height: 451px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-finder-b-g1 {
  top: 0px;
  left: 0px;
  width: 802px;
  height: 451px;
  position: absolute;
}
.course-finder-looking-for {
  top: 206.416015625px;
  left: 33.401275634765625px;
  width: 237.48016357421875px;
  height: 75.40303039550781px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-finder-text42 {
  color: var(--dl-color-paragraph-para01);
  width: 110px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
}
.course-finder-rectangle82 {
  top: 30.161293029785156px;
  left: 0.0000031434392440132797px;
  width: 237px;
  height: 45px;
  position: absolute;
  border-color: rgba(211, 222, 232, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
.course-finder-text44 {
  top: 39.58642578125px;
  left: 10.325215339660645px;
  color: var(--dl-color-paragraph-para02);
  width: 102px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
}
.course-finder-vector1 {
  top: 49.954345703125px;
  left: 210.63442993164062px;
  width: 17px;
  height: 8px;
  position: absolute;
}
.course-finder-looking-for1 {
  top: 206.416015625px;
  left: 273px;
  width: 492.46087646484375px;
  height: 75.40303039550781px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-finder-text46 {
  left: 6.1424560546875px;
  color: var(--dl-color-paragraph-para01);
  width: 110px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
}
.course-finder-rectangle821 {
  top: 29.583984375px;
  left: 0px;
  width: 237px;
  height: 45px;
  position: absolute;
  border-color: rgba(211, 222, 232, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
.course-finder-text48 {
  top: 39.631591796875px;
  left: 16.70915985107422px;
  color: var(--dl-color-paragraph-para02);
  width: 138px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
}
.course-finder-looking-for2 {
  top: 0px;
  left: 254.98069763183594px;
  width: 237.48016357421875px;
  height: 75.40303039550781px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-finder-text50 {
  color: var(--dl-color-paragraph-para01);
  width: 110px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
}
.course-finder-rectangle822 {
  top: 30.161376953125px;
  left: -0.0002092633949359879px;
  width: 237px;
  height: 45px;
  position: absolute;
  border-color: rgba(211, 222, 232, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
.course-finder-text52 {
  top: 39.631591796875px;
  left: 10.488868713378906px;
  color: var(--dl-color-paragraph-para02);
  width: 138px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
}
.course-finder-vector11 {
  top: 49.954345703125px;
  left: 210.63430786132812px;
  width: 17px;
  height: 8px;
  position: absolute;
}
.course-finder-btn {
  top: 354.654296875px;
  left: 316.3252258300781px;
  width: 146.61819458007812px;
  height: 45.241817474365234px;
  display: flex;
  padding: 10px 46px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 2px;
  background-color: var(--dl-color-primary-color01);
}
.course-finder-text54 {
  color: var(--dl-color-default-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 28px;
  margin-right: 0;
  margin-bottom: 0;
}
.course-finder-rectangle89 {
  top: 72.57568359375px;
  left: 33.402225494384766px;
  width: 44px;
  height: 4px;
  position: absolute;
  border-color: transparent;
}
.course-finder-looking-for3 {
  top: 95.196533203125px;
  left: 33.401275634765625px;
  width: 237.48016357421875px;
  height: 75.40303039550781px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-finder-text56 {
  color: var(--dl-color-paragraph-para01);
  width: 88px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
}
.course-finder-rectangle823 {
  top: 30.16104507446289px;
  left: 0.0000031434392440132797px;
  width: 237px;
  height: 45px;
  position: absolute;
  border-color: rgba(211, 222, 232, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
.course-finder-text58 {
  top: 39.58642578125px;
  left: 10.325215339660645px;
  color: var(--dl-color-paragraph-para02);
  width: 102px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
}
.course-finder-vector12 {
  top: 49.954345703125px;
  left: 210.63442993164062px;
  width: 17px;
  height: 8px;
  position: absolute;
}
.course-finder-property-size {
  top: 83px;
  left: 279.1424560546875px;
  width: 262.8575134277344px;
  height: 100px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-finder-text60 {
  top: 12.1962890625px;
  color: var(--dl-color-paragraph-para01);
  width: 124px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
}
.course-finder-group30 {
  top: 0px;
  left: 0.00022321430151350796px;
  width: 262.8572998046875px;
  height: 100px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-finder-rectangle83 {
  top: 42.357421875px;
  left: 0px;
  width: 237px;
  height: 45px;
  position: absolute;
  border-color: rgba(211, 222, 232, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
.course-finder-text62 {
  top: 51.78271484375px;
  left: 9.292490005493164px;
  color: var(--dl-color-paragraph-para02);
  width: 103px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
}
.course-finder-vector2 {
  top: 62.151123046875px;
  left: 210.634521484375px;
  width: 17px;
  height: 8px;
  position: absolute;
}
.course-finder-frame1 {
  top: 0px;
  left: 162.8572998046875px;
  width: 100px;
  height: 100px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.course-finder-property-location {
  top: 95.196533203125px;
  left: 524.8827514648438px;
  width: 237.48040771484375px;
  height: 75.4026870727539px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-finder-text64 {
  color: var(--dl-color-paragraph-para01);
  width: 64px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
}
.course-finder-group33 {
  top: 30.160888671875px;
  left: 0.00007672992069274187px;
  width: 237.48016357421875px;
  height: 45.241817474365234px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.course-finder-text66 {
  top: 9.425537109375px;
  left: 10.325255393981934px;
  color: var(--dl-color-paragraph-para02);
  width: 103px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 28px;
}
.course-finder-vector3 {
  top: 19.79345703125px;
  left: 210.63446044921875px;
  width: 17px;
  height: 8px;
  position: absolute;
}
.course-finder-text68 {
  top: 40.529052734375px;
  left: 33.402225494384766px;
  color: var(--dl-color-heading-head02);
  width: 194px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.course-finder-text70 {
  top: 249px;
  left: 687px;
  color: var(--dl-color-default-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 66px;
}
.course-finder-nav {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 152px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-finder-logo-menu {
  top: 62px;
  left: 0px;
  width: 1920px;
  height: 90px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.course-finder-menu {
  top: 24px;
  left: 1382px;
  width: 506px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-finder-off-canvas {
  top: 0px;
  left: 464px;
  width: 42px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(9, 132, 227, 1);
}
.course-finder-menu1 {
  top: 9px;
  left: 9px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.course-finder-text75 {
  top: 6px;
  left: 343px;
  color: var(--dl-color-paragraph-para01);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.course-finder-text77 {
  top: 6px;
  left: 180px;
  color: var(--dl-color-paragraph-para01);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.course-finder-text79 {
  top: 6px;
  left: 81px;
  color: var(--dl-color-paragraph-para01);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.course-finder-text81 {
  top: 6px;
  color: var(--dl-color-primary-color01);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.course-finder-info-login {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 76px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-finder-b-g2 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 62px;
  position: absolute;
  border-color: transparent;
}
.course-finder-loginsignup {
  top: 16px;
  left: 1382px;
  width: 133px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-finder-user41 {
  top: 6px;
  left: 0px;
  width: 18px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.course-finder-group {
  top: 0px;
  left: 4.7880778312683105px;
  width: 8.42364501953125px;
  height: 8.42364501953125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-finder-group1 {
  top: 0px;
  left: 0px;
  width: 8.42364501953125px;
  height: 8.42364501953125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-finder-vector2 {
  top: 0px;
  left: 0px;
  width: 8px;
  height: 8px;
  position: absolute;
}
.course-finder-group2 {
  top: 8.911238670349121px;
  left: 1.3744466304779053px;
  width: 15.251232147216797px;
  height: 9.088671684265137px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-finder-group3 {
  top: 0px;
  left: 0px;
  width: 15.251232147216797px;
  height: 9.088671684265137px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-finder-vector3 {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 9px;
  position: absolute;
}
.course-finder-text83 {
  left: 26px;
  color: var(--dl-color-default-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.course-finder-email {
  top: 16px;
  left: 601px;
  width: 142px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-finder-text85 {
  left: 30px;
  color: var(--dl-color-default-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.course-finder-call1 {
  top: 3px;
  left: 0px;
  width: 22px;
  height: 22px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.course-finder-group4 {
  top: 0px;
  left: 0px;
  width: 22.000057220458984px;
  height: 22px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-finder-group5 {
  top: 0px;
  left: 0px;
  width: 22.000057220458984px;
  height: 22px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-finder-vector4 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.course-finder-call {
  top: 16px;
  left: 329px;
  width: 262px;
  height: 60px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.course-finder-text87 {
  left: 29px;
  color: var(--dl-color-default-white);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}
.course-finder-paperplane11 {
  top: 3px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.course-finder-image1 {
  top: 86px;
  left: 329px;
  width: 256px;
  height: 42px;
  position: absolute;
  border-color: transparent;
}
