* {
    padding:0;
    margin:0;
    max-width:100%;
    font-family: 'Roboto', sans-serif;
}
a:hover {
    text-decoration: none;
}
p {
    font-weight: 300;
    font-size:12px;
}

.section {
    padding-left: 25px;
    padding-right:25px;
}
