.p7-header {
    padding: 25px;
    text-align: center;
    color: #2A6F85;
}

.p7-header h3 {
    width: 50%;
    margin: auto;
    font-weight: bold;
}

h6.help-link {
    text-align: center;
    color: #2A6F85;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.help-tab h6 {
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 8px;
}

.help-tab img {
    width: 50px;
}

.help-tab {
    margin-bottom: 15px;
}

.helpCard {
    background: #FFFFFF;
/* Shape/ Shape01 */
    border: 1px solid #D3DEE8;
    box-shadow: 0px 10px 30px rgba(0, 115, 225, 0.06);
    border-radius: 4px;
    padding: 17px;
    max-width: 250px;
    margin: 10px auto;
    text-align: center;
}

.helpCard img {
    width: 100%;
}

.helpCard p.title {
    margin-bottom: 5px;
    margin-top: 15px;
    font-weight: bold;
}

p.clickTonext {
    text-align: center;
    width: fit-content;
    color: white;
    background: #2196f3;
    padding: 7px 25px;
    margin: 25px auto;
}