.p8-header {
    background: url('../Assets/p8-header.png');
    background-blend-mode: multiply;
    background-size: cover;
    background-color: #3F4244;
}
.p8-header {
    height: 150px;
    text-align: center;
    color: white;
}

.p8-header div {position: relative;top: 50%;transform: translateY(-50%);}
.p8-header p span {
    color: blue;
}

.cor-card {
    margin: 10px auto;
}

.cor-card .img-wrapper {
    background: #D5E8FF;
    border-radius: 1000px;
    width: fit-content;
}

.cor-card .img-wrapper img {
    width: 70px;
    padding: 15px;
}

.cor-card h6 {
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
}