.section.p2-section1 img {
    height: 300px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.section.p2-section1 p {
    font-weight: bold;
    width: 70%;
    margin: auto;
    text-align: center;
}

.section.p2-section2 {
    padding: 60px;
}

.section.p2-section2 p {
    width: 40%;
    margin-top: 10px;
}
.section.p2-section2 h3 {
    font-size: 20px;
    color: black;
}

.section.p2-section2 h3 .fa {
    font-size: 17px;
    margin-left: 10px;
    color: #03a9f4;
}