.maxresdefault1Icon {
  position: absolute;
  top: 246px;
  left: 183px;
  width: 1573px;
  height: 820px;
  object-fit: cover;
}
.shapeDiv {
  position: absolute;
  top: 588.18px;
  left: calc(50% - 505px);
  background-color: var(--shape-shape01);
  width: 1110px;
  height: 0.89px;
}
.letsStartWithAInterestPr,
.ourInterestProfillerTestIs {
  position: absolute;
  top: 291px;
  left: calc(50% - 819px);
  line-height: 30px;
  display: inline-block;
  width: 540px;
  height: 80.45px;
}
.letsStartWithAInterestPr {
  top: 223px;
  font-size: var(--heading-head-01-size);
  line-height: 54px;
  color: var(--heading-head01);
  width: 850px;
  height: 49px;
}
.vectorIcon,
.vectorIcon1 {
  position: absolute;
  top: 0;
  left: calc(50% - 928px);
  width: 40px;
  height: 25.03px;
}
.vectorIcon1 {
  top: 238px;
  left: calc(50% - 153px);
  width: 48px;
  height: 33.03px;
  mix-blend-mode: darken;
}
.bGDiv {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background-bg03);
  width: 1920px;
  height: 494.32px;
}
.allRightReserveByForkThe {
  position: absolute;
  top: 448.73px;
  left: 811px;
  line-height: 30px;
  display: inline-block;
  width: 275px;
  height: 26.82px;
}
.rectangleDiv {
  position: absolute;
  top: 421.02px;
  left: 410px;
  background-color: var(--shape-shape03);
  width: 1110px;
  height: 0.89px;
}
.span {
  font-family: var(--paragraph-para04);
}
.ourServicesP {
  margin-block-start: 0;
  margin-block-end: 0;
}
.helpDesk {
  margin: 0;
}
.ourServicesPrivacyConta,
.ourServicesPrivacyConta1 {
  position: absolute;
  top: 55.42px;
  left: 0;
  line-height: 40px;
  white-space: pre-wrap;
  display: inline-block;
  width: 143px;
  height: 178.78px;
}
.ourServicesPrivacyConta1 {
  left: 190px;
}
.importantLinksDiv1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--heading-head-03-size);
  line-height: 32px;
  font-weight: 500;
  color: var(--white1);
  display: inline-block;
  width: 170px;
  height: 28.6px;
}
.importantLinksDiv {
  position: absolute;
  top: 97.43px;
  left: 1520px;
  width: 333px;
  height: 234.2px;
}
.businessHourDiv,
.mondayFriday1000am060 {
  position: absolute;
  top: 33.97px;
  left: 0;
  line-height: 30px;
  display: inline-block;
  width: 287px;
  height: 26.82px;
}
.businessHourDiv {
  top: 0;
  font-size: var(--heading-head-04-size);
  font-weight: 500;
  width: 131px;
}
.timeDiv {
  position: absolute;
  top: 166.26px;
  left: 0;
  width: 287px;
  height: 60.78px;
}
.thisIsASampleDemoPlease {
  position: absolute;
  top: 64.36px;
  left: 0;
  line-height: 30px;
  display: inline-block;
  width: 350px;
  height: 80.45px;
}
.logoDiv1,
.uniLifeSimulationDiv {
  position: absolute;
  top: 0;
  width: 223px;
  height: 35.76px;
}
.uniLifeSimulationDiv {
  left: 0;
  line-height: 40px;
  font-weight: 500;
  display: inline-block;
}
.logoDiv1 {
  left: 30px;
  font-size: var(--h5-size);
  color: var(--white1);
}
.aboutUsDiv1,
.logoDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 144.81px;
}
.logoDiv {
  top: 97.43px;
  left: 135px;
  height: 227.05px;
}
.footerDiv {
  top: 522.03px;
  left: 0;
  height: 494.32px;
  font-size: var(--paragraph-para01-size);
  color: var(--paragraph-para03);
}
.aboutUsDiv,
.bGDiv1,
.footerDiv {
  position: absolute;
  width: 1920px;
}
.aboutUsDiv {
  top: 1276px;
  left: calc(50% - 960px);
  height: 1016.35px;
}
.bGDiv1 {
  top: 0;
  left: 0;
  background-color: var(--white1);
  height: 90px;
}
.offCanvasIcon {
  position: absolute;
  top: 0;
  left: 464px;
  width: 42px;
  height: 42px;
}
.aboutUsDiv2,
.accomodationsDiv,
.contactUsDiv,
.homeDiv {
  position: absolute;
  top: 6px;
  left: 343px;
  line-height: 30px;
  display: inline-block;
}
.aboutUsDiv2,
.accomodationsDiv,
.homeDiv {
  left: 180px;
}
.aboutUsDiv2,
.homeDiv {
  left: 81px;
}
.homeDiv {
  left: 0;
  color: var(--primary-color-01);
}
.menuDiv {
  position: absolute;
  top: 24px;
  left: 1382px;
  width: 506px;
  height: 42px;
}
.bGDiv2,
.logoMenuDiv {
  position: absolute;
  top: 62px;
  left: 0;
  width: 1920px;
  height: 90px;
}
.bGDiv2 {
  top: 0;
  background-color: var(--primary-color-01);
  height: 62px;
}
.loginIcon,
.user41 {
  position: absolute;
  height: 18px;
}
.loginIcon {
  top: 22px;
  left: 1384px;
  width: 16px;
  display: none;
}
.user41 {
  top: 6px;
  left: 0;
  width: 18px;
  overflow: hidden;
}
.loginSignupDiv1 {
  position: absolute;
  top: 0;
  left: 26px;
  line-height: 30px;
  display: inline-block;
}
.loginSignupDiv {
  top: 16px;
  left: 1382px;
  width: 133px;
  height: 30px;
}
.call1Icon,
.div,
.loginSignupDiv {
  position: absolute;
}
.div {
  top: 0;
  left: 30px;
  line-height: 30px;
  display: inline-block;
}
.call1Icon {
  top: 3px;
  left: 0;
  width: 22px;
  height: 22px;
  overflow: hidden;
}
.emailDiv {
  position: absolute;
  top: 16px;
  left: 601px;
  width: 142px;
  height: 30px;
}
.unisimulationmytudublinieDiv {
  position: absolute;
  top: 0;
  left: 29px;
  line-height: 30px;
  display: inline-block;
}
.paperPlane11 {
  position: absolute;
  top: 3px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.callDiv,
.infoLoginDiv {
  position: absolute;
  top: 16px;
  left: 329px;
  width: 262px;
  height: 60px;
}
.infoLoginDiv {
  top: 0;
  left: 0;
  width: 1920px;
  height: 76px;
  color: var(--white1);
}
.image1Icon {
  position: absolute;
  top: 86px;
  left: 329px;
  width: 256px;
  height: 42px;
  object-fit: cover;
}
.navDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 152px;
  font-size: var(--paragraph-para01-size);
}
.welcomeToUniLifeSimulation {
  position: absolute;
  top: 1109px;
  left: 161px;
  font-size: var(--font-size-6xl);
  line-height: 60px;
  font-weight: 800;
  color: var(--black);
  text-align: center;
  display: inline-block;
  width: 1609px;
  height: 132px;
}
.landingPage2 {
  position: relative;
  background-color: var(--white1);
  width: 100%;
  height: 2350px;
  overflow: hidden;
  text-align: left;
  font-size: var(--heading-head-03-size);
  color: var(--paragraph-para01);
  font-family: var(--paragraph-para04);
}
