.bGDiv,
.shapeDiv {
  position: absolute;
  top: 609px;
  left: calc(50% - 957.5px);
  background-color: var(--white1);
  width: 1920px;
  height: 1021px;
}
.shapeDiv {
  top: 1110px;
  left: calc(50% - 507.5px);
  background-color: var(--shape-shape01);
  width: 1110px;
  height: 1px;
}
.vectorIcon {
  position: absolute;
  top: 452px;
  left: calc(50% - 930.5px);
  width: 40px;
  height: 28px;
}
.bGDiv1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background-bg03);
  width: 1920px;
  height: 553px;
}
.allRightReserveByForkThe {
  position: absolute;
  top: 607px;
  left: 811px;
  line-height: 30px;
  display: inline-block;
}
.rectangleDiv {
  position: absolute;
  top: 576px;
  left: 410px;
  background-color: var(--shape-shape03);
  width: 1110px;
  height: 1px;
}
.span {
  font-family: var(--paragraph-para04);
}
.ourServicesP {
  margin-block-start: 0;
  margin-block-end: 0;
}
.helpDesk {
  margin: 0;
}
.ourServicesPrivacyConta,
.ourServicesPrivacyConta1 {
  position: absolute;
  top: 62px;
  left: 0;
  line-height: 40px;
  white-space: pre-wrap;
  display: inline-block;
}
.ourServicesPrivacyConta1 {
  left: 190px;
}
.importantLinksB {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--heading-head-03-size);
  line-height: 32px;
  display: inline-block;
  color: var(--white1);
}
.importantLinksDiv {
  position: absolute;
  top: 214px;
  left: 1520px;
  width: 333px;
  height: 262px;
}
.mondayFriday1000am060 {
  top: 38px;
  line-height: 30px;
  display: inline-block;
}
.businessHour,
.mondayFriday1000am060,
.timeDiv {
  position: absolute;
  left: 0;
}
.businessHour {
  top: 0;
  font-size: var(--heading-head-04-size);
  line-height: 30px;
  display: inline-block;
}
.timeDiv {
  top: 186px;
  width: 295px;
  height: 68px;
}
.thisIsASampleDemoPlease {
  position: absolute;
  top: 72px;
  left: 0;
  line-height: 30px;
  display: inline-block;
  width: 350px;
  height: 90px;
}
.uniLifeSimulationB {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  display: inline-block;
}
.logoDiv1 {
  position: absolute;
  top: 0;
  left: 30px;
  width: 225px;
  height: 40px;
  font-size: var(--h5-size);
  color: var(--white1);
}
.aboutUsDiv1,
.logoDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 162px;
}
.logoDiv {
  top: 214px;
  left: 135px;
  height: 254px;
}
.footerDiv,
.image3Icon {
  position: absolute;
  top: 931px;
  left: 0;
  width: 1920px;
  height: 637px;
}
.image3Icon {
  top: 0;
  left: 10px;
  width: 1901px;
  height: 609px;
  object-fit: cover;
}
.aboutUsDiv {
  position: absolute;
  top: 720px;
  left: calc(50% - 955px);
  width: 1925px;
  height: 1630px;
}
.bGDiv2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white1);
  width: 1920px;
  height: 90px;
}
.offCanvasIcon {
  position: absolute;
  top: 0;
  left: 464px;
  width: 42px;
  height: 42px;
}
.aboutUsDiv2,
.accomodationsDiv,
.contactUsDiv,
.homeDiv {
  position: absolute;
  top: 6px;
  left: 343px;
  line-height: 30px;
  display: inline-block;
}
.aboutUsDiv2,
.accomodationsDiv,
.homeDiv {
  left: 180px;
}
.aboutUsDiv2,
.homeDiv {
  left: 81px;
}
.homeDiv {
  left: 0;
  color: var(--primary-color-01);
}
.menuDiv {
  position: absolute;
  top: 24px;
  left: 1382px;
  width: 506px;
  height: 42px;
}
.bGDiv3,
.logoMenuDiv {
  position: absolute;
  top: 62px;
  left: 0;
  width: 1920px;
  height: 90px;
}
.bGDiv3 {
  top: 0;
  background-color: var(--primary-color-01);
  height: 62px;
}
.loginIcon,
.user41 {
  position: absolute;
  height: 18px;
}
.loginIcon {
  top: 22px;
  left: 1384px;
  width: 16px;
  display: none;
}
.user41 {
  top: 6px;
  left: 0;
  width: 18px;
  overflow: hidden;
}
.loginSignupDiv1 {
  position: absolute;
  top: 0;
  left: 26px;
  line-height: 30px;
  display: inline-block;
}
.loginSignupDiv {
  top: 16px;
  left: 1382px;
  width: 133px;
  height: 30px;
}
.call1Icon,
.div,
.loginSignupDiv {
  position: absolute;
}
.div {
  top: 0;
  left: 30px;
  line-height: 30px;
  display: inline-block;
}
.call1Icon {
  top: 3px;
  left: 0;
  width: 22px;
  height: 22px;
  overflow: hidden;
}
.emailDiv {
  position: absolute;
  top: 16px;
  left: 601px;
  width: 142px;
  height: 30px;
}
.unisimulationmytudublinieDiv {
  position: absolute;
  top: 0;
  left: 29px;
  line-height: 30px;
  display: inline-block;
}
.paperPlane11 {
  position: absolute;
  top: 3px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.callDiv,
.infoLoginDiv {
  position: absolute;
  top: 16px;
  left: 329px;
  width: 262px;
  height: 60px;
}
.infoLoginDiv {
  top: 0;
  left: 0;
  width: 1920px;
  height: 76px;
  color: var(--white1);
}
.image1Icon {
  position: absolute;
  top: 86px;
  left: 329px;
  width: 256px;
  height: 42px;
  object-fit: cover;
}
.navDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 152px;
  color: var(--paragraph-para01);
}
.image2Icon {
  position: absolute;
  top: calc(50% - 1023px);
  left: 1px;
  width: 1919px;
  height: 264px;
  object-fit: cover;
}
.psychometricTestDiv {
  position: relative;
  background-color: var(--white1);
  width: 100%;
  height: 2350px;
  overflow: hidden;
  text-align: left;
  font-size: var(--paragraph-para01-size);
  color: var(--paragraph-para03);
  font-family: var(--paragraph-para04);
}
