.section.p4-section1 {
    background: #000000;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

.section.p4-section1 h4 {
    text-align: center;
    font-size: 24px;
}

.section.p4-section1 p {
    text-align: center;
}

.carr {
    padding-top: 15px;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: auto auto;
}

.carr .left h4 {
    color: #263048;
    opacity: 0.5;
}

.carr .left h5 {
    color: #263048;
    font-size: 20px;
}

.carr .right {
    text-align: right;
}

.carr .right h4 {
    font-size: 23px;
}

.carr .right h5 {
    padding-right: 7px;
    margin-bottom: 10px;
}

.carr-tab {
    display: flex;
    column-gap: 10px;
}

.carr-tab .content {
    align-items: center;
    justify-content: center;
}
.carr-option {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.carr-option {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.jobdec h4 {
    color: #263048;
    opacity: 0.5;
    margin-top: 20px;
    padding-bottom: 5px;
}

.jobdec > p {
    color: #263048;
    opacity: 0.75;
    margin-bottom: 20px;
}

.jobdec p ul {
    margin-left: 20px;
}

.jobdec p ul {
    margin-left: 20px;
}

.jobdec .skillset {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    grid-row-gap: 20px;
    margin: 10px 0;
}

.jobdec .skillset p {
    background: #10AC84;
    border-radius: 2px;
    padding: 10px;
    color: white;
}
.jobdec p.testOutSubmit {
    background: black;
    width: min-content;
    padding: 7px 30px;
    color: white;
    letter-spacing: 2px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}