.App {
  min-width: 500px;
  background: white;
  max-width: 600px;
  border-radius: 14px;
  box-shadow: 1px 1px 20px 0px #0000001a;
  padding: 15px;
  margin: 40px auto;
  text-align: center;
}

.home-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 15px;
  row-gap: 15px;
}

.home-container .box-wrapper {
  background: whitesmoke;
  border-radius: 7px;
}

.action-wrapper a {
  margin-top: 20px;
  background: black;
  display: block;
  padding: 8px;
  border-radius: 27px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}

.home-container .box-wrapper:hover {
  transition: 0.2s;
  transform: scale(1.05);
}

table, td {
  border: 1px solid #0000000a;
  border-collapse: collapse;
}

td {
  padding: 15px;
  min-width: 150px;
}

table {
  margin: 20px auto;
  box-shadow: 1px 1px 20px 0px #00000026;
}

.box-wrapper.selected {
  border: 0.1px solid black;
}

a.finalSubmit {
  text-align: center;
  display: block;
  background: black;
  width: fit-content;
  margin: auto;
  padding: 7px 49px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}